.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.label {
    color: white;
    font-size: 30px;
    font-weight: 650;
    margin: 0px;
    width: 75%;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    transition: max-width 0.3s ease;

}

.narrow {
    max-width: 77%;
}

.expanded {
    max-width: 95%;
}

.withoutVideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 75%;
}

.caption {
    font-size: 18px;
    color: white;
    margin-left: 20px;
}