.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 18px;
    color: white;
    background-color: #222222;
    width: 75%;
    height: 330px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container::before {
    content: '';
    z-index: 1;
    width: 100%;
    height: 70%;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.headerImage {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: absolute;
}

.subContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    z-index: 2;
    margin-bottom: 20px;
}

.channelImage {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: 2%;
}

.channelInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 130px;
    margin-left: 25px;
    width: clamp(850px, 55%, 1000px);
    max-width: 100%;
}

.channelInfo p {
    margin: 0px;
}

.channelName {
    font-size: 40px;
    font-weight: bold;
    text-wrap: nowrap;
}

.tagname {
    font-style: italic;
    color: #e9e9e9;
    text-wrap: nowrap;
}

.tagAndStat {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

.aboutChannel {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.description {
    font-weight: bold;
    text-wrap: nowrap;
    min-height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 25px;
    width: 100%;
    height: 100px;
}

.subContainer button {
    width: 50%;
    border: 1px solid #FF0149;
}

@media (max-width: 1100px) {
    .container {
        height: 250px;
    }

    .channelImage {
        width: 100px;
        height: 100px;
    }

    .tagAndStat {
        font-size: 15px;
    }

    .channelName {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .container {
        min-width: 98%;
    }

    .tagAndStat :last-child {
        display: none;
    }
}