.container {
    margin: 1%;
    background-color: #1d1d1d75;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.narrow {
    width: 29%;
    min-width: 400px;
    height: 320px;
}

.expanded {
    width: 23%;
    min-width: 360px;
    height: 280px;
}

.preview {
    min-width: 100%;
    min-height: 75%;
    max-height: 75%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.progressBar {
    height: 2px;
    background-color: #FF0149;
}

.underPreview {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 95%;
}

.videoDescription {
    height: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.videoDescription p {
    margin: 0px;
    margin-left: 10px;
}

.channelImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.nameAndDescription {
    display: flex;
    min-width: 100%;
}

.title {
    font-size: 18px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.channelName {
    font-size: 14px;
    color: #CBCBCB;
    font-weight: lighter;
    text-wrap: nowrap;
}

.channelDescription {
    font-size: 14px;
    color: #CBCBCB;
    font-weight: lighter;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #CBCBCB;
    font-weight: lighter;
}