.nav {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    justify-content: flex-start;
    align-items: center;
    transition: ease 0.35s;

    @media (max-width: 480px) {
        transition: ease 0.35s;
        width: 70px;
    }
}

.menuItemContainer {
    display: flex;
    justify-content: space-between;
}

ol {
    width: 100%;
    padding: 0%;
    padding-left: 20px;
}

.line {
    width: 90%;
    height: 1px;
    background-color: #383838;
}

.collapsed {
    transition: ease 0.35s;
    width: 70px;
}

.collapsed .menuText {
    display: none;
}