.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.itemImage {
    width: 30px;
    height: 30px;
    object-fit: cover;

    @media (max-width: 480px) {
        width: 23px;
        height: 23px;
    }
}

.container * {
    margin: 10px;
}

.title {
    transition: ease 0.35s;
    text-wrap: nowrap;

    @media (max-width: 480px) {
        transition: ease 0.35s;
        display: none;
    }
}