.container {
    height: 280px;
    width: 22%;
    min-width: 300px;
    margin: 1%;
    background-color: #22222275;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.preview {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.underPreview {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 10px;
}

.videoDescription {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 30px;
}

.videoDescription p {
    margin: 0px;
    margin-left: 10px;
}

.channelImage {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.title {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.topBlock {
    font-size: 18px;
    color: white;
    font-weight: 600px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.access {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #CBCBCB;
    font-weight: lighter;
}