.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.videoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.loadingData {
    color: white;
}

.addPlaylistButton {
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 100px;
    align-self: center;
    font-size: 40px;
    display: flex;
    background-color: rgb(26, 26, 26);
    margin-left: 10px;
}

@media (max-width: 500px) {
    .videoContainer {
        justify-content: center;
    }
}