.itemImage {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 18px;
    user-select: none;
}

.container * {
    margin: 10px;
}