.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    transition: max-width 0.3s ease;
}

.narrow {
    max-width: 77%;
}

.expanded {
    max-width: 95%;
}

.loadingData {
    color: white;
}