.container {
    height: 200px;
    width: 100%;
    min-width: 800px;
    margin-bottom: 1%;
    background-color: #22222275;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.preview {
    min-width: 350px;
    max-width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.videoInfo {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
}

.nameViews {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.subContainer {
    height: 30%;
    display: flex;
    flex-direction: column;
}

.nameViews * {
    font-size: 16px;
    color: #CBCBCB;
    font-weight: lighter;
    margin-right: 20px;
    text-wrap: nowrap;
}

.title {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin: 0%;
}

.stats {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #CBCBCB;
    font-weight: lighter;
}

.description {
    color: #CBCBCB;
    font-weight: lighter;
    font-size: 16px;
    margin: 0%;
    margin-bottom: 5%;
}

.buttons {
    display: flex;
    width: 10%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.buttons * {
    height: 50px;
    width: 50px;
    z-index: 50;
}

.deleteButton {
    background-color: #ffffff00;
    background-image: url('../../images/cross.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.menuContainer {
    position: relative;
}

@media (max-width: 1100px) {
    .container {
        height: 150px;
        min-width: 600px;
    }

    .title {
        font-size: 20px;
    }

    .nameViews * {
        font-size: 13px;
    }

    .preview {
        min-width: 263px;
        max-width: 263px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 885px) {
    .container {
        height: 100px;
        min-width: 480px;
    }

    .title {
        font-size: 16px;
    }

    .nameViews * {
        font-size: 11px;
    }

    .preview {
        min-width: 210px;
        max-width: 210px;
    }

    .description {
        font-size: 12px;
    }
}

@media (max-width: 740px) {
    .container {
        height: 100px;
        min-width: 400px;
    }

    .title {
        font-size: 16px;
    }

    .nameViews * {
        font-size: 11px;
    }

    .preview {
        min-width: 176px;
        max-width: 176px;
    }

    .description {
        font-size: 12px;
    }

    .buttons * {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 520px) {
    .container {
        height: 90px;
        min-width: 350px;
    }

    .title {
        font-size: 13px;
    }

    .nameViews * {
        font-size: 11px;
    }

    .preview {
        min-width: 130px;
        max-width: 130px;
    }

    .description {
        font-size: 12px;
    }

    .buttons * {
        width: 20px;
        height: 20px;
    }
}