.myChannelButton {
    background-color: #1d1d1d;
    color: white;
    font-size: smaller;
    min-width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    font-size: 17px;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
    padding-right: 15px;
}