.container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.searchbar {
    width: 60%;
    height: 45px;
    border-radius: 20px 0px 0px 20px;
    background-color: #313131;
    border: 0px;
    padding-left: 20px;
    font-size: 17px;
    color: white;
}

.searchButton {
    border-radius: 0px 20px 20px 0px;
    width: 60px;
    background-color: #4A4A4A;
    background-image: url('../../images/search.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}