.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form {
    width: 30%;
    min-width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    border-radius: 25px;
    border: 2px solid #FF0149;
}

.form p {
    color: white;
}


.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}


.title {
    font-size: 28px;
    font-weight: 600;
}

.fieldsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.signIn {
    margin-top: 30px;
    border: 2px solid #FF0149;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    color: black;
    cursor: pointer;
}

.toLogin {
    text-decoration: underline;
}

.categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    text-wrap: nowrap;
    border-bottom: 1px solid #FF0149;
    border-radius: 10px;
    background-color: #0f0f0f;
    padding-left: 7px;
    padding-right: 7px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.categories:hover {
    background-color: rgb(8, 8, 8);
}

.categories img {
    width: 40px;
    height: 40px;
}

.categories p {
    font-size: 19px;
}