.container {
    display: flex;
    border-left: 3px solid #FF0149;
    border-radius: 7px;
    padding-left: 20px;
    margin-bottom: 30px;
    max-width: 100%;
}

.channelImage {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-right: 20px;
    object-fit: cover;
}

.comment {
    width: 80%;
    word-break: break-all;
}

.topSide {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}

.subContainer {
    display: flex;
    align-items: center;
}

.channelName {
    margin: 0px;
    font-size: 26px;
    text-wrap: nowrap;
}

.timeAgo {
    color: #CBCBCB;
    margin: 0px;
    text-wrap: nowrap;
    margin-left: 30px;
    margin-bottom: 5px;
}

.deleteButton {
    background-color: #ffffff00;
    background-image: url('../../images/cross.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    margin: 0;
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    .channelName {
        font-size: 20px;
    }
}